<%- include('../views/partials/header'); %>
    
        <div class="container__content">
    
                <section class="section__history">
            
                    <h2 class="section__history__title">Our history</h2>
            
                    <p class="section__history__paragraph">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure nostrum adipisci, voluptatibus dolore laborum aperiam accusantium nihil error deserunt magni.
                    </p>
                    <p class="section__history__paragraph">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae vitae quas doloremque eligendi molestias iste aliquam, sapiente blanditiis sequi nisi, ratione eveniet magnam ducimus distinctio!
                    </p>
                    <p class="section__history__paragraph">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque expedita accusantium quasi voluptas. Soluta accusamus voluptate necessitatibus perferendis cum! Ut aspernatur exercitationem vero officia debitis fugit perspiciatis consectetur in facere! Neque quibusdam recusandae excepturi quo beatae eveniet harum iure ea?
                    </p>
            
                </section>
            
                <section class="section__why">
            
                    <h2 class="section__why__title">Why we are the best in town</h2>
            
                    <p class="section__why__paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur recusandae natus rerum adipisci id aliquam.
                    </p>
            
                    <p class="section__why__paragraph">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora sed eligendi rerum minima praesentium ut nemo adipisci hic?
                    </p>

                    <div class="section__why__container__list-random-advantage">
                        <div class="container__section__why__list">
                            <ol class="section__why__list">
                                <li>Lorem, ipsum.</li>
                                <li>Lorem, ipsum dolor.</li>
                                <li>Lorem.</li>
                                <li>Lorem ipsum dolor sit amet.</li>
                                <li>Lorem ipsum dolor sit.</li>
                            </ol>
                        </div>
    
                        <p 
                        id="section__why__random-advantage"
                        class="section__why__random-advantage">La qualité prime.


            
                </section>

                <section class="section__pictures">

                    <img class="section__pictures__img" src="https://assets.stickpng.com/images/5eafecb3f7f4540004b715e7.png" alt="">
                    <img class="section__pictures__img"  src="https://assets.stickpng.com/images/5eafecb3f7f4540004b715e7.png" alt="">
                    <img class="section__pictures__img"  src="https://assets.stickpng.com/images/5eafecb3f7f4540004b715e7.png" alt="">
                    <img class="section__pictures__img"  src="https://assets.stickpng.com/images/5eafecb3f7f4540004b715e7.png" alt="">
                    

                </section>
            
    
        </div>
    </div>

    
<script src="../js/app-general.js"></script>

<%- include('../views/partials/footer'); %>