<%- include('../views/partials/header'); %>

<button id="btn-add" class="content__add-button">
    Ajouter un produit
    </button>
    
    <button id="btn-remove" class="content__rmv-button">
    Retirer un produit
    </button>
 
    <div class="container__content">

            <section id="parent-article-div" class="section__products">
                <article class="section__products__article hidden-article">
                    <h2 class="section__products__title" >Titre article</h2>

                    <img class="section__products__img" src="https://www.mygermanmarket.com/media/catalog/product/cache/1/image/370x288/9df78eab33525d08d6e5fb8d27136e95/k/u/kuhne_cornichons_g_ants_1700ml.png" alt="A nice pickle container">

                    <p class="section__products__paragraph">Lorem ipsum dolor sit amet.</p>
                    <ul class="section__products__list">
                        <li class="section__products__lists__advantage">Avantage 1</li>
                        <li class="section__products__lists__advantage">Avantage 2</li>
                    </ul>
                </article>
                <article class="section__products__article">
                    <h2 class="section__products__title" >Titre article</h2>

                    <img class="section__products__img" src="https://www.mygermanmarket.com/media/catalog/product/cache/1/image/370x288/9df78eab33525d08d6e5fb8d27136e95/k/u/kuhne_cornichons_g_ants_1700ml.png" alt="A nice pickle container">

                    <p class="section__products__paragraph">Lorem ipsum dolor sit amet.</p>
                    <ul class="section__products__list">
                        <li class="section__products__lists__advantage">Avantage 1</li>
                        <li class="section__products__lists__advantage">Avantage 2</li>
                    </ul>
                </article>
                <article class="section__products__article">
                    <h2 class="section__products__title" >Titre article</h2>

                    <img class="section__products__img" src="https://www.mygermanmarket.com/media/catalog/product/cache/1/image/370x288/9df78eab33525d08d6e5fb8d27136e95/k/u/kuhne_cornichons_g_ants_1700ml.png" alt="A nice pickle container">

                    <p class="section__products__paragraph">Lorem ipsum dolor sit amet.</p>
                    <ul class="section__products__list">
                        <li class="section__products__lists__advantage">Avantage 1</li>
                        <li class="section__products__lists__advantage">Avantage 2</li>
                    </ul>
                </article>
                <article class="section__products__article">
                    <h2 class="section__products__title" >Titre article</h2>

                    <img class="section__products__img" src="https://www.mygermanmarket.com/media/catalog/product/cache/1/image/370x288/9df78eab33525d08d6e5fb8d27136e95/k/u/kuhne_cornichons_g_ants_1700ml.png" alt="A nice pickle container">

                    <p class="section__products__paragraph">Lorem ipsum dolor sit amet.</p>
                    <ul class="section__products__list">
                        <li class="section__products__lists__advantage">Avantage 1</li>
                        <li class="section__products__lists__advantage">Avantage 2</li>
                    </ul>
                </article>
                <article class="section__products__article">
                    <h2 class="section__products__title" >Titre article</h2>

                    <img class="section__products__img" src="https://www.mygermanmarket.com/media/catalog/product/cache/1/image/370x288/9df78eab33525d08d6e5fb8d27136e95/k/u/kuhne_cornichons_g_ants_1700ml.png" alt="A nice pickle container">

                    <p class="section__products__paragraph">Lorem ipsum dolor sit amet.</p>
                    <ul class="section__products__list">
                        <li class="section__products__lists__advantage">Avantage 1</li>
                        <li class="section__products__lists__advantage">Avantage 2</li>
                    </ul>
                </article>

            </section>
        

    </div>
</div>

<script src="../js/app-product.js"></script>

<%- include('../views/partials/footer'); %>